[broker]
host = 192.168.178.123
port = 1883
username = user
password = 53cre7f0r357

[device]
identifier = my_workstation
friendly_name = Workstation
update_interval_seconds = 7

[topics]
stats = homeassistant-bash-bridge/my_workstation/stats
command = homeassistant-bash-bridge/my_workstation/command

[stats]
disk_percent_path = /home

[commands]
reboot = reboot#Reboot
shutdown = shutdown -h now#Shutdown

